<%= form_for @task, html: {class: 'form'}  do |f| %>
  <p>Title</p>
  <%= f.text_field :title %>
  <p>Details</p>
  <%= f.text_area :details %>
  <%= submit_tag 'Add New Task', {class: "submit-btn new"} %>
<% end %>
