<h1>To Do Manager</h1>
<p>This is all your tasks!</p>
<% @tasks.each do |task| %>
  <p><%= link_to task.title, task_path(task) %>
  <%= link_to task_path(task), method: :delete, data: { confirm: 'Are you sure?' } do %>
    <i class="far fa-trash-alt"></i>
  <% end %></p>
<% end %>
