<div class="form-container">
  <%= image_tag 'backgroundFour.png', class: 'form-container-img' %>
  <div class="form-container-title"><h1>Create a new task</h1></div>
  <div class="form-container-content">
    <%= render 'tasks/form' %>
  </div>
</div>
