// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  color: white;
  margin: 0;
}

a {
  text-decoration: none;
}


.tasks-header{
  width: 100%;
  height: 340px;
  overflow: hidden;
  position: relative;
}

.tasks-header > img {
  width: 100%;
}

.title-container {
  position: relative;
  width: 100%;
  height: 100px;
  margin: 0 auto;

  span {
    text-shadow:0 0 1.5px rgb(255, 252, 252);
    position: absolute;
    top: -70%;
    left:0;
    right:0;
    margin-left: auto;
    margin-right: auto;
    color: rgb(100, 97, 97);
    font-size: 3em;
    font-weight: 600;
    background-color: rgba(246, 242, 242, 0.8);
    width: 300px;
    padding: 40px;
    text-align: center;
  }
}

.tasks-container {
  width: 400px;
  margin: 15px auto;
  padding: 10px;
}
.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  color: rgb(100, 97, 97);
  text-align: center;
}

.task-content{
  background-color: #00AFB9;
  border-radius: 15px;
  padding: 10px;
  width: 80%;
  text-align: left;
  text-indent: 10px;
  font-size: 1.1em;
  a {
    color: white;
  }
}

.completed {
  background-color:#b0afaf;
  text-decoration: line-through;
}

.task-delete-btn, .task-checkbox {
  color: rgb(100, 97, 97);
  font-size: 1.2em;
}

.task-add-btn {
  width: 400px;
  height: 100px;
  padding: 15px;
  margin: 10px auto;
  a {
    color: rgb(100, 97, 97);
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .tasks-header > img {
    position: absolute;
    top: -18%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .tasks-header > img {
    position: absolute;
    top: -19%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .tasks-header > img {
    position: absolute;
    top: -20%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .tasks-header > img {
    position: absolute;
    top: -21%;
  }
}
